<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="inputName" value="input.txt"/>
    <add key="outputName" value="output.txt"/>
    <add key="chunkSize" value="2"/>
  </appSettings>
</configuration>